<%- include("partials/header.ejs") %>

    <div class="main">
        <div class="input-box">
            <form action="/submit" method="POST">
                <div class="mb-3">
                    <label for="title" class="form-label title">Title</label>
                    <input type="text" class="form-control" name="title" required>
                </div>
                <div class="mb-3">
                    <textarea class="form-control text-box" name="text" required></textarea>
                </div>
                <div class="container-submit">
                    <input type="submit" value="Submit" class="btn-submit">
                </div>
            </form>
        </div>
    </div>